/* ====== media queries ====== */
  /* mobile device */
  @media only screen and (max-width:668px){
    h1{
        font-size: 35px;
    }   
    .span{
        height: 3px;
        width: 140px;
    }

    .navbar{
        display: block;
    }
    .logo a{
        font-size: 18px;
        display: block;
        text-align: center;
    }
    .logo a h5{
        margin: 15px 0 20px 0;
    }
    nav ul{
        text-align: center;
    }
    nav ul li a{
        font-size: 16px;
        font-weight: 500;
        padding: 0 5px 0 5px;
    }

    /* ==== banner section ==== */
    .banner{
        padding: 1px 0 60px 0px;
    
    }
    .banner h4{
        font-size: 17px;
        margin: 161px 0 5px 0;
    }
    .banner button{
        padding: 8px 24px;
        font-size: 18px;
    }

    /* === upcomming event ===== */
    .event-main{
        padding: 20px 2%;
    }
    .event-main h3{
        font-size: 20px;
        margin: 10px 0 0 0;
    }

    .event{
        display: block;
        margin: 10px 0 0 0;
    }
    .event-item{
        width: 100%;
        margin: 15px auto;
    }
    .event-item img{
        height: 220px;
    }
    .event-item h5{
        font-size: 18px;
    }

    /* === EXPLORE THE WORLD section start ==== */
    .explore{
        padding: 10px;
        display: block;

    }
    .explore-item{
        width: 100%;
    }
    .explore-item h1{
        margin: 20px 0 0px 0px;
    }
    .explore-item p{
        margin: 20px 0 20px 0;
    }
    .explore-item a{
        font-size: 18px;
        font-weight: 500;
    }
    
    /* ==== tour section=== */
    .tour-main{
        padding: 4%;
    }
    .tour{
        display: block;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .tour-item{
        width: 100%;
        padding: 0px 0 12px 0;
       
    }
    .mobile-special{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 12px 1fr;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 12px;
    }

    .tour-item h3{
        font-size: 20px;
        margin: 20px 0 0px 0;
    }
    .tour-item p{
        margin: 20px 0 20px 0;
    }
    .tour-item a{
        font-size: 18px;
        margin: 0 0 20px 0;
        display: inline-block;
    }
    .tour-item img{
        margin: 0;
    }
    .img-one{
        height: 150px;
        margin: 0 auto;
    }
    .img-two{
        height: 150px;
        margin: 0 auto;
    }


    
    /* ======= footer ======== */
    footer{
        padding: 10px;
    }

}

/* ======= landscape mobile, tab device ======= */
@media only screen and (min-width:669px) and (max-width:768px){
    h1{
        font-size: 40px;
    }   
    .span{
        height: 4px;
        width: 150px;
    }

    .navbar{
        display: block;
    }

    .logo a{
        font-size: 19px;
        display: block;
        text-align: center;
    }
    .logo a h5{
        margin: 20px 0 20px 0;
    }
    nav ul{
        text-align: center;
    }
    nav ul li a{
        font-size: 17px;
        font-weight: 500;
        padding: 0 5px 0 5px;
    }

    /* ==== banner section ==== */
    .banner{
        padding: 1px 0 60px 0px;
    
    }
    .banner h4{
        font-size: 18px;
        margin: 161px 0 5px 0;
    }
    .banner button{
        padding: 10px 24px;
        font-size: 18px;
    }

     /* === upcomming event ===== */
     .event-main{
        padding: 40px 5%;
    }
    .event-main h3{
        font-size: 25px;
        margin: 15px 0 0 0;
    }

    .event{
        display: block;
        margin: 20px 0 0 0;
    }
    .event-item{
        width: 100%;
        margin: 25px auto;
    }
    .event-item img{
        height: 300px;
    }
    .event-item h5{
        font-size: 20px;
    }

    /* === EXPLORE THE WORLD section start ==== */
    .explore{
        padding: 30px;
        display: block;

    }
    .explore-item{
        width: 100%;
    }
    .explore-item h1{
        margin: 30px 0 30px 0px;
    }
    .explore-item p{
        margin: 20px 0 20px 0;
    }
    .explore-item a{
        font-size: 18px;
        font-weight: 500;
    }
   
    
    /* ==== tour section=== */
    .tour-main{
        padding: 5%;
    }
    .tour{
        display: block;
    }
    .tour-item{
        width: 100%;
        padding: 0px 0 20px 0;
       
    }
    .mobile-special{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

    .tour-item h3{
        font-size: 25px;
        margin: 25px 0 0px 0;
    }
   
    
   
    .img-one{
        height: 250px;
        width: 100%;
        margin: 0 auto;
    }
    .img-two{
        height: 250px;
        width: 100%;
        margin: 0 auto;
    }

    /* footer */
    footer{
        padding: 50px 10px;
    }
}

/* ===== tab landscape, large tab, tv er moto choto mnitor / small monito */
@media only screen and (min-width:769px) and (max-width:992px) {
    h1{
        font-size: 50px;
    }   
    .span{
        height: 4px;
        width: 150px;
    }


     /* ==== banner section ==== */
    .banner h4{
        font-size: 20px;
        margin: 161px 0 5px 0;
    }
    .banner button{
        padding: 12px 26px;
        font-size: 20px;
    }
     
    /* === upcomming event ===== */
    .event-main{
        padding: 40px 5%;
        
    }
    .event-main h3{
        font-size: 30px;
    }
    
    .event-item img{
        height: 320px;
    }

    /* === EXPLORE THE WORLD section start ==== */
    .explore{
        padding: 40px;
    }
   
    .explore-item h1{
        margin: 20px 0 0px 0px;
    }

     
    /* ==== tour section=== */
    .tour-main{
        padding: 5%;
    }
   
    .tour-item{
        width: 100%;
        padding: 0 10px 0  10px;
       
    }
    .mobile-special{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

    .tour-item h3{
        font-size: 25px;
        margin: 0px 0 0px 0;
    }
    .img-one{
        height: 250px;
        width: 100%;
        margin: 0 auto;
    }
    .img-two{
        height: 250px;
        width: 100%;
        margin: 0 auto;
    }
}

/* ===== samall monitor / small laptop ====== */
@media only screen and (min-width:993px) and (max-width:1024px) {
    h1{
        font-size: 60px;
    } 
    
}

/* ===== large laptop and normal monitor (default desing bese on client requiremnts) ===== */
/* @media only screen and (min-width:1025px) and (max-width:1440px) {
    .navbar{
        background-color:red;
    } 
} */

/* ===== 1441px ==> large monitor (default desing) ===== */